.main{
    background-color: #F9E79F;
    width: 100%;
    max-width: 60%;
    margin: auto;
    height: 80%;
    max-height: 50%
}
#title , #description{
    text-align: center;
    margin: 0px;
 
}

#description{
    margin-bottom: 50px;
}

div{
    /* width: 85%; */
    max-width: 70%;
    margin: 25px auto   ;


}
#dropdown{
    display: block;
    width: 250px;
    height: 25px;
}
.nea, .div_radio, .div_check, .div_text_area, .div_submit{
    display: flex;
    flex-direction: column;
}

#name-label, #email-label, #label-number{
    margin-bottom: 10px;
}
#name, #email, #number{
    border: 2px solid gray;
    height: 25px;
}

#text-area{
    width: inherit;
    max-width:100%;
}

#submit{
    width: inherit;
    max-width: 100%;
  
}